In [1]:
#Importing the necessary libraries
import pandas as pd
import numpy as np

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
#Loading the dataset
data = pd.read_csv("https://raw.githubusercontent.com/pcm-dpc/COVID-19/master/dati-regioni/dpc-covid19-ita-regioni.csv")
data

,data,stato,codice_regione,denominazione_regione,lat,long,ricoverati_con_sintomi,terapia_intensiva,totale_ospedalizzati,isolamento_domiciliare,...,note,ingressi_terapia_intensiva,note_test,note_casi,totale_positivi_test_molecolare,totale_positivi_test_antigenico_rapido,tamponi_test_molecolare,tamponi_test_antigenico_rapido,codice_nuts_1,codice_nuts_2
0,2020-02-24T18:00:00,ITA,13,Abruzzo,42.351222,13.398438,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2020-02-24T18:00:00,ITA,17,Basilicata,40.639471,15.805148,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2020-02-24T18:00:00,ITA,18,Calabria,38.905976,16.594402,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2020-02-24T18:00:00,ITA,15,Campania,40.839566,14.250850,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2020-02-24T18:00:00,ITA,8,Emilia-Romagna,44.494367,11.341721,10,2,12,6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21394,2022-12-08T17:00:00,ITA,19,Sicilia,38.115697,13.362357,419,27,446,29390,...,NaN,0.0,NaN,NaN,529779.0,1216833.0,5172593.0,10702507.0,ITG,ITG1
21395,2022-12-08T17:00:00,ITA,9,Toscana,43.769231,11.255889,527,24,551,71315,...,NaN,2.0,NaN,NaN,703607.0,838173.0,7031897.0,9228059.0,ITI,ITI1
21396,2022-12-08T17:00:00,ITA,10,Umbria,43.106758,12.388247,220,5,225,4069,...,- Si fa presente che 2 dei ricoveri non UTI ap...,0.0,NaN,NaN,156697.0,263291.0,1735175.0,3167267.0,ITI,ITI2
21397,2022-12-08T17:00:00,ITA,2,Valle d'Aosta,45.737503,7.320149,19,2,21,811,...,NaN,0.0,NaN,NaN,16192.0,33176.0,145073.0,432514.0,ITC,ITC2
21398,2022-12-08T17:00:00,ITA,5,Veneto,45.434905,12.338452,988,49,1037,60271,...,Nei valori riportati per le terapie intensive ...,13.0,NaN,NaN,1019856.0,1563116.0,11079779.0,24484791.0,ITH,ITH3

In [4]:
#Exploring the dataset
data.isnull().count()

data                                      21399
stato                                     21399
codice_regione                            21399
denominazione_regione                     21399
lat                                       21399
long                                      21399
ricoverati_con_sintomi                    21399
terapia_intensiva                         21399
totale_ospedalizzati                      21399
isolamento_domiciliare                    21399
totale_positivi                           21399
variazione_totale_positivi                21399
nuovi_positivi                            21399
dimessi_guariti                           21399
deceduti                                  21399
casi_da_sospetto_diagnostico              21399
casi_da_screening                         21399
totale_casi                               21399
tamponi                                   21399
casi_testati                              21399
note                                      21399
ingressi_terapia_intensiva                21399
note_test                                 21399
note_casi                                 21399
totale_positivi_test_molecolare           21399
totale_positivi_test_antigenico_rapido    21399
tamponi_test_molecolare                   21399
tamponi_test_antigenico_rapido            21399
codice_nuts_1                             21399
codice_nuts_2                             21399
dtype: int64

In [5]:
data.describe()

,codice_regione,lat,long,ricoverati_con_sintomi,terapia_intensiva,totale_ospedalizzati,isolamento_domiciliare,totale_positivi,variazione_totale_positivi,nuovi_positivi,...,casi_da_sospetto_diagnostico,casi_da_screening,totale_casi,tamponi,casi_testati,ingressi_terapia_intensiva,totale_positivi_test_molecolare,totale_positivi_test_antigenico_rapido,tamponi_test_molecolare,tamponi_test_antigenico_rapido
count,21399.000000,21399.000000,21399.000000,21399.000000,21399.000000,21399.000000,21399.000000,21399.000000,21399.000000,21399.000000,...,3402.000000,3402.00000,2.139900e+04,2.139900e+04,2.024400e+04,15456.000000,1.455300e+04,1.455300e+04,1.455300e+04,1.455300e+04
mean,11.857143,43.046293,12.225955,500.182438,49.998972,550.181410,23114.968830,23665.149960,24.433572,1140.638581,...,16472.772193,6319.39565,3.637783e+05,4.890656e+06,1.579592e+06,3.393439,3.001568e+05,2.222078e+05,3.391754e+06,3.584567e+06
std,6.273945,2.488839,2.659010,921.124122,102.166035,1018.245539,43415.185116,43832.006923,2181.957878,2532.712178,...,32188.413270,15054.35195,6.019821e+05,7.438816e+06,1.926641e+06,6.040425,3.221850e+05,3.888669e+05,3.446447e+06,5.110871e+06
min,1.000000,38.115697,7.320149,0.000000,0.000000,0.000000,0.000000,0.000000,-50797.000000,-229.000000,...,0.000000,0.00000,0.000000e+00,0.000000e+00,3.482000e+03,-2.000000,7.382000e+03,0.000000e+00,6.615200e+04,0.000000e+00
25%,7.000000,41.125596,11.121231,50.000000,3.000000,56.000000,1215.500000,1325.500000,-93.000000,50.000000,...,2052.250000,117.00000,1.530450e+04,3.548475e+05,2.442615e+05,0.000000,6.609100e+04,3.600000e+02,8.565010e+05,3.403670e+05
50%,12.000000,43.616760,12.388247,190.000000,16.000000,208.000000,6396.000000,6695.000000,3.000000,286.000000,...,5290.500000,1493.00000,1.028760e+05,1.760165e+06,7.931890e+05,1.000000,1.870820e+05,1.968600e+04,2.038683e+06,1.610479e+06
75%,17.000000,45.434905,13.768136,546.000000,47.000000,602.000000,24702.500000,25519.500000,143.000000,1146.500000,...,19285.750000,5469.00000,4.035210e+05,5.825642e+06,2.170624e+06,4.000000,4.371260e+05,2.587540e+05,4.859053e+06,4.262244e+06
max,22.000000,46.499335,16.867367,12077.000000,1381.000000,13328.000000,574548.000000,578257.000000,47483.000000,52693.000000,...,305002.000000,113150.00000,3.997099e+06,4.381851e+07,1.024301e+07,86.000000,1.523826e+06,2.473273e+06,1.685070e+07,2.696781e+07

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21399 entries, 0 to 21398
Data columns (total 30 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   data                                    21399 non-null  object
 1   stato                                   21399 non-null  object
 2   codice_regione                          21399 non-null  int64
 3   denominazione_regione                   21399 non-null  object
 4   lat                                     21399 non-null  float64
 5   long                                    21399 non-null  float64
 6   ricoverati_con_sintomi                  21399 non-null  int64
 7   terapia_intensiva                       21399 non-null  int64
 8   totale_ospedalizzati                    21399 non-null  int64
 9   isolamento_domiciliare                  21399 non-null  int64
 10  totale_positivi                         21399 non-null  int64
 11  variazione_totale_positivi              21399 non-null  int64
 12  nuovi_positivi                          21399 non-null  int64
 13  dimessi_guariti                         21399 non-null  int64
 14  deceduti                                21399 non-null  int64
 15  casi_da_sospetto_diagnostico            3402 non-null   float64
 16  casi_da_screening                       3402 non-null   float64
 17  totale_casi                             21399 non-null  int64
 18  tamponi                                 21399 non-null  int64
 19  casi_testati                            20244 non-null  float64
 20  note                                    5071 non-null   object
 21  ingressi_terapia_intensiva              15456 non-null  float64
 22  note_test                               184 non-null    object
 23  note_casi                               2647 non-null   object
 24  totale_positivi_test_molecolare         14553 non-null  float64
 25  totale_positivi_test_antigenico_rapido  14553 non-null  float64
 26  tamponi_test_molecolare                 14553 non-null  float64
 27  tamponi_test_antigenico_rapido          14553 non-null  float64
 28  codice_nuts_1                           14553 non-null  object
 29  codice_nuts_2                           14553 non-null  object
dtypes: float64(10), int64(12), object(8)
memory usage: 4.9+ MB

* **Axis = 1** - we drop the entire column.
* **Axis = 0** - we drop the entire row

In [7]:
#Dropping missing values
data.dropna(axis=1,inplace=True)
data.head(10)

,data,stato,codice_regione,denominazione_regione,lat,long,ricoverati_con_sintomi,terapia_intensiva,totale_ospedalizzati,isolamento_domiciliare,totale_positivi,variazione_totale_positivi,nuovi_positivi,dimessi_guariti,deceduti,totale_casi,tamponi
0,2020-02-24T18:00:00,ITA,13,Abruzzo,42.351222,13.398438,0,0,0,0,0,0,0,0,0,0,5
1,2020-02-24T18:00:00,ITA,17,Basilicata,40.639471,15.805148,0,0,0,0,0,0,0,0,0,0,0
2,2020-02-24T18:00:00,ITA,18,Calabria,38.905976,16.594402,0,0,0,0,0,0,0,0,0,0,1
3,2020-02-24T18:00:00,ITA,15,Campania,40.839566,14.250850,0,0,0,0,0,0,0,0,0,0,10
4,2020-02-24T18:00:00,ITA,8,Emilia-Romagna,44.494367,11.341721,10,2,12,6,18,0,18,0,0,18,148
5,2020-02-24T18:00:00,ITA,6,Friuli Venezia Giulia,45.649435,13.768136,0,0,0,0,0,0,0,0,0,0,58
6,2020-02-24T18:00:00,ITA,12,Lazio,41.892770,12.483667,1,1,2,0,2,0,2,1,0,3,124
7,2020-02-24T18:00:00,ITA,7,Liguria,44.411493,8.932699,0,0,0,0,0,0,0,0,0,0,1
8,2020-02-24T18:00:00,ITA,3,Lombardia,45.466794,9.190347,76,19,95,71,166,0,166,0,6,172,1463
9,2020-02-24T18:00:00,ITA,11,Marche,43.616760,13.518875,0,0,0,0,0,0,0,0,0,0,16

# Single Feature Scaling

Single Feature Scaling converts every value of a column into a between 0 and 1. The new value is calculated as the current value divided by the max value of the column.

In [8]:
data['tamponi'] = data['tamponi'] / data['tamponi'].max()
data.head()

,data,stato,codice_regione,denominazione_regione,lat,long,ricoverati_con_sintomi,terapia_intensiva,totale_ospedalizzati,isolamento_domiciliare,totale_positivi,variazione_totale_positivi,nuovi_positivi,dimessi_guariti,deceduti,totale_casi,tamponi
0,2020-02-24T18:00:00,ITA,13,Abruzzo,42.351222,13.398438,0,0,0,0,0,0,0,0,0,0,1.141070e-07
1,2020-02-24T18:00:00,ITA,17,Basilicata,40.639471,15.805148,0,0,0,0,0,0,0,0,0,0,0.000000e+00
2,2020-02-24T18:00:00,ITA,18,Calabria,38.905976,16.594402,0,0,0,0,0,0,0,0,0,0,2.282141e-08
3,2020-02-24T18:00:00,ITA,15,Campania,40.839566,14.250850,0,0,0,0,0,0,0,0,0,0,2.282141e-07
4,2020-02-24T18:00:00,ITA,8,Emilia-Romagna,44.494367,11.341721,10,2,12,6,18,0,18,0,0,18,3.377568e-06

# Min-Max

In [9]:
data['totale_casi'] = (data['totale_casi'] - data['totale_casi'].min()) / (data['totale_casi'].max() - data['totale_casi'].min())

# z-score
Converts every value of a column into a number around 0. Typical values obtained by a z-score transformation range from -3 and 3. The new value is calculated as the difference between the current value and the average value, divided by the standard deviation.

**std()** - standard deviation

In [10]:
data['deceduti'] = (data['deceduti'] -data['deceduti'].mean()) / data['deceduti'].std()

In [11]:
data['deceduti'].min()

-0.7017712249543178

In [12]:
data['deceduti'].max()

5.2596063419951795

# Log-scaling
Involves the conversion of a column to the logarithmic scale

In [13]:
data['dimessi_guariti'] = data['dimessi_guariti'].apply(lambda x: np.log(x) if x!= 0 else 0)
data['dimessi_guariti']

0         0.000000
1         0.000000
2         0.000000
3         0.000000
4         0.000000
           ...
21394    14.348735
21395    14.193042
21396    12.932200
21397    10.778456
21398    14.734044
Name: dimessi_guariti, Length: 21399, dtype: float64

# Clipping
Clipping involves the capping of all values below or above a certain value. Clipping is useful when a column contains some outliers. We can set a maximum vmax and a minimum value vmin and set all outliers greater than the maximum value to vmax and all the outliers lower than the minimum value to vmin. For example, we can consider the column ricoverati_con_sintomi and we can set vmax = 10000 and vmin = 10

In [14]:
vmax = 10000
vmin = 10

data['ricoverati_con_sintomi'] = data['ricoverati_con_sintomi'].apply(lambda x: vmax if x > vmax else vmin if x < vmin else x)